/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @keyframes kasa {
  0%   {right:0px;}
  100% {right:7950px;}
}
@keyframes winner {
 0%   {opacity: 0;}
 90%   {opacity: 0;}
 100% {opacity: 1;}
}
body{
background: lightgray;
margin: 0px;
padding: 0px;
}
#showwinner{
  animation-name: winner;
  -webkit-animation-fill-mode: forwards !important;
  animation-duration: 3.3s;
  margin: 50px 200px 50px 200px;
  background: white;
  text-align: center;
}
#cizgi{
z-index: 2;
background: orange;
height: 100px;
width: 10px;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}
#dd11{
  border: 1px solid white;
  margin: 50px 100px 50px 100px;
  background: white;
  overflow: hidden;
  white-space: nowrap;
}
#image{
  margin: 5px 5px 5px 5px;
  width: 90px;
  height: 90px;
}
#box{
  animation-name: kasa;
  -webkit-animation-fill-mode: forwards !important;
  animation-duration: 3s;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
    white-space: nowrap;
    text-align: center;
}
